<div class="container-fluid banner">
    <div class="container">
        <h1 style="text-align: center;font-size: 4vw;color: antiquewhite;" class="titleHome" >LEGALTECH COMPANY</h1>
        
        <div style="text-align: center;  margin-top: 5vh;" class="container">
                <a href="#" style="width: 25vh; margin-top: 2vh; " class="btn me-2 btn-primary">Sign up</a>
                <a href="#" style="width: 25vh; margin-top: 2vh; ;" class="btn btn-outline-light">Login</a>
        </div>
    </div>
</div>

